# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Logs
logs/
*.log
logs/*.log
debug.log
*.out

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Compiled files
dist/
build/

# IDE / Editor files
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Misc
coverage/
tmp/
